<div class="d-flex p-2 bd-highlight">
<div class="card ml-3" style="width: 10rem;">
    <img class="card-img-top img-fluid" style="width:200px; height:200px" src="https://picsum.photos/200/300" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">this is assumed to be burger</p>
    </div>
    <a style="margin-top:10px;"href="" class="btn btn-success">Click Here</a>
  </div>

  <div class="card ml-3" style="width: 10rem;">
      <img class="card-img-top img-fluid" style="width:200px; height:200px" src="https://picsum.photos/200/300" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">this is assumed to be burger</p>
      </div>
      <a style="margin-top:10px;"href="" class="btn btn-success">Click Here</a>
    </div>

    <div class="card ml-3" style="width: 10rem;">
        <img class="card-img-top img-fluid" style="width:200px; height:200px" src="https://picsum.photos/200/300" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">this is assumed to be burger</p>
        </div>
        <a style="margin-top:10px;"href="" class="btn btn-success">Click Here</a>
      </div>

      <div class="card ml-3" style="width: 10rem;">
          <img class="card-img-top img-fluid" style="width:200px; height:200px" src="https://picsum.photos/200/300" alt="Card image cap">
          <div class="card-body">
            <p class="card-text">this is assumed to be burger</p>
          </div>
          <a style="margin-top:10px;"href="" class="btn btn-success">Click Here</a>
        </div>
        <div class="card ml-3" style="width: 10rem;">
            <img class="card-img-top img-fluid" style="width:200px; height:200px" src="https://picsum.photos/200/300" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">this is assumed to be burger</p>
            </div>
            <a style="margin-top:10px;"href="" class="btn btn-success">Click Here</a>
          </div>
          <div class="card ml-3" style="width: 10rem;">
              <img class="card-img-top img-fluid" style="width:200px; height:200px" src="https://picsum.photos/200/300" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">this is assumed to be burger</p>
              </div>
              <a style="margin-top:10px;"href="" class="btn btn-success">Click Here</a>
            </div>
</div>
